<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitalandroidweb.androidregisterandlogin">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeRegist">
        <activity
            android:name=".Login.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeRegist.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ComidasYpostres.ComidasPostresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dependencias.DependenciasAdministrativas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dependencias.DependenciasAdministrativasDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComidasYpostres.Bares.BaresActivity"
            android:parentActivityName=".PrincipalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComidasYpostres.ComidaChina.ComidaChinaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ComidasYpostres.CrepesPizzeria.CrepesPizzeriaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComidasYpostres.CrepesPizzeria.CrepesPizzeriaDetail"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ComidasYpostres.ComidaInternacional.ComidaInternacionalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComidasYpostres.ComidaRapida.ComidaRapidaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComidasYpostres.ComidaRapida.ComidaRapidaDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComidasYpostres.ComidaTradicional.ComidaTradicionalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComidasYpostres.ComidaTradicional.ComidaTradicionalDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComidasYpostres.ComidaVegetariana.ComidaVegetarianaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComidasYpostres.ComidaVegetariana.ComidaVegetarianaDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComidasYpostres.Fruterias.FruteriasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComidasYpostres.Fruterias.FruteriasDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PromocionesFragment.Promociones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PromocionesFragment.PromocionesDetail"
            android:screenOrientation="portrait" />
        <activity android:name=".TiendasRopa.TiendasRopaActivity"
            android:screenOrientation="portrait" />


        <activity android:name=".TiendasRopa.Bebes.BebesActivity"
            android:screenOrientation="portrait" />


        <activity android:name=".TiendasRopa.Bebes.BebesDetail"
            android:screenOrientation="portrait" />

        <activity
            android:name=".GuiaTuristica.GuiaTuristicaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuiaTuristica.GuiaTuristicaDetail"
            android:screenOrientation="portrait" />



    </application>

</manifest>